div:has(p) {
    border: 2px solid red;
    padding: 10px;
    background-color: wheat;
}

label:has(input:checked) {
     color: green;
     font-weight: bolder;
}

table:has(tr) + p {
    display: block;
    color: green;
}

p {
    display: none;
}