$primary-color: rgba(255, 239, 231, 1);
$secundary-color: #ffdac6;
$tertiary-color: #babd8d;
$primary-text-color: #7c6a0a;
$font-stackl: "IBM Plex Sans", sans-serif;
$paragraph-size: 1.5em;
$quaternary-color: #fa9500;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    font-family: $font-stackl;
}

nav {
    color: $primary-text-color;
    display: flex;
    font-weight: bolder;
    justify-content: space-between;
    padding: 15px;
    width: auto;
    p {
        font-size: $paragraph-size;
        padding-left: 15px;
        align-content: center;
    }
    .icons {
        display: flex;
        gap: 15px;
        button {
            background: none;
            border-style: none;
        }
    }
}

main {
    background-color: $primary-color;
}

article {
    display: flex;
    justify-content: space-between;
    width: auto;
    color: $primary-text-color;
    padding-top: 90px;
    padding-left: 30px;
    padding-right: 30px;
    row-gap: 15px;

    .impact-section {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-top: 50px;
        h1 {
            font-size: 2em;
        }
        p {
            margin-top: 40px;
            max-width: 40ch;
            line-height: 1.4;
            text-align: justify;
            font-size: $paragraph-size;
        }
        button {
            width: 12vw;
            margin-top: 40px;
            padding: 20px;
            background-color: $quaternary-color;
            border-style: none;
            border-radius: 35px;
            color: white;
            font-size: 1em;
            font-weight: bolder;
        }
    }

    img {
        width: 100%;
        height: auto;
        max-width: 500px;
        border-radius: 19px;
    }
}

section {
    width: 100%;
    height: auto;
    padding: 80px;

    h2 {
        color: $primary-text-color;
        font-size: 2em;
    }

    .healthcare {
        h2 {
            font-weight: 300;
            padding-bottom: 60px;
        }

        .product-card {
            width: 15vw;
            height: auto;
            background-color: $secundary-color;
            color: $primary-text-color;
            padding: 20px;
            border-radius: 8px;
            .product-image img {
                width: 150px;
                height: 200px;
                background-image: cover;
                border-radius: 6px;
            }
        }
    }
}

footer {
    background-color: $quaternary-color;
    width: 100%;
    height: 250px;
}
