$primary-color: rgba(255, 239, 231, 1);
$secundary-color: #ffdac6;
$tertiary-color: #babd8d;
$primary-text-color: #7c6a0a;
$font-stackl: "IBM Plex Sans", sans-serif;
$paragraph-size: 1.5em;
$quaternary-color: #fa9500;

@mixin flexCenter($direction, $content: null, $align: null) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle {
    button {
        background: none;
        border-style: none;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    font-family: $font-stackl;
}

nav {
    color: $primary-text-color;
    @include flexCenter(row, space-between);
    font-weight: bolder;
    padding: 15px;
    width: auto;
    p {
        font-size: $paragraph-size;
        padding-left: 15px;
        align-content: center;
    }
    .icons {
        display: flex;
        gap: 15px;
        @include buttonStyle;
    }
}

main {
    background-color: $primary-color;
}

article {
    @include flexCenter(row, space-between);
    width: auto;
    color: $primary-text-color;
    padding-top: 90px;
    padding-left: 30px;
    padding-right: 30px;
    row-gap: 15px;

    .impact-section {
        @include flexCenter(column);
        gap: 25px;
        padding-top: 50px;
        h1 {
            font-size: 2em;
        }
        p {
            margin-top: 40px;
            max-width: 40ch;
            line-height: 1.4;
            text-align: justify;
            font-size: $paragraph-size;
        }
        @include buttonStyle;
        button {
            width: 12vw;
            margin-top: 40px;
            padding: 20px;
            background-color: $quaternary-color;
            border-radius: 35px;
            color: white;
            font-size: 1em;
            font-weight: bolder;
        }
    }

    img {
        width: 100%;
        height: auto;
        max-width: 500px;
        border-radius: 19px;
    }
}

section {
    width: auto;
    height: auto;
    padding: 80px;
    h2 {
        color: $primary-text-color;
        font-size: 2em;
    }

    .healthcare {
        margin-bottom: 60px;
        h2 {
            font-weight: 300;
            padding-bottom: 60px;
        }

        .card-section {
            @include flexCenter(row, center, center);
            width: auto;
            height: auto;
            column-gap: 200px;
            flex-wrap: wrap;
            row-gap: 80px;
        }
        .product-card {
            width: 15vw;
            height: 45vh;
            background-color: $secundary-color;
            color: $primary-text-color;
            padding: 20px;
            border-radius: 8px;
            .icon {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                padding-bottom: 20px;
            }
            .product-image {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 14vw;
                    height: 30vh;
                    object-fit: cover;
                    border-radius: 6px;
                }
            }
        }
    }

    .furniture {
        @extend .healthcare;
        .product-card {
            background-color: $tertiary-color;
            color: white;
            .icon svg {
                color: white !important;
            }
        }
    }
}

.about-us {
    margin-bottom: 60px;

    h2 {
        margin-bottom: 60px;
        font-weight: bolder;
    }
    .mission-section {
        @include flexCenter(row, space-evenly, center);
        .earth {
            $text-color: #e86424;
            display: flex;
            gap: 40px;
            width: 30vw;
            color: $text-color;
            img {
                object-fit: cover;
            }
            p {
                text-align: center;
                font-size: $paragraph-size;
            }
        }
    }
    .innovation {
        @extend .earth;
    }
}

.gallery {
    margin-bottom: 60px;
    h2 {
        margin-bottom: 60px;
        font-weight: bolder;
    }
    .gallery-images {
        @include flexCenter(row, space-between, center);
        gap: 25px;
        img {
            width: 30vw;
            height: 50vh;
            object-fit: cover;
            object-position: 5px 35%;
            border-radius: 16px;
            transition: all 0.3s ease-in;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.location {
    $text-color: #e86424;
    color: $text-color;
    h2 {
        padding-bottom: 60px;
    }
    .map {
        @include flexCenter(row, center, center);
        padding-bottom: 50px;
    }
    h3 {
        font-size: 2em;
        padding-left: 60px;
        padding-bottom: 10px;
    }
    p{
        padding-left: 60px;
        font-size: $paragraph-size;
    }
}

footer {
    background-color: $quaternary-color;
    width: 100%;
    height: auto;
    padding: 40px;
    color: white;
    p {
        padding: 5px 0px;
    }
    .social-media {
        @include flexCenter(row, center, center);
        gap: 15px;
    }
}
